/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.iconMenu {
  margin-right: 2em;
  margin-left: -1em;
}
.input-group {
  margin-bottom: 5mm;
}
#wrapper{
  margin-top: 51px;
}
html, .row vertical-divider, #wrapper, #page-content-wrapper{
  height: 100%;
}
#sidebar-wrapper, body {
  height: calc(100% - 51px);
}
.right-column {
  height: 100%;
  text-align:left;
  padding: 15px 15px 0px 15px;
}
.left-column{
  height: 100%;
  padding: 15px 15px 15px 15px;
}
@media(max-width:1500px) {
  #page-content-wrapper{
    height: calc(100% - 50px);
  }
  .right-column {
    width: 50%;
  }
  .left-column {
    width: 50%;
  }
}
@media(max-width:600px) {
  #page-content-wrapper{
    height: calc(100% - 50px);
  }
  .right-column {
    width: 100%;
  }
  .left-column {
    display: none;
  }
}
textarea {
  resize: none;
}
.bootstrap-tagsinput {
  width: 100%;
}
.cm-spell-error{
  background-color: transparent;
}
.CodeMirror {
  height: calc(100% - 280px);
}
